#story img {
  width: 400px;
  height: auto;
}

.mission {
  background-color: var(--lightprimary);
  padding: 60px 0px;
}

.mission ul {
  max-width: 800px;
  list-style-type: decimal;
  margin: auto;
}

.team {
  padding: 60px 0px;
}

.team .grid img {
  padding: 24px;
  width: auto;
  height: 400px;
}

#baqarzaidi,
#fatimazaidi,
#maryambatool {
  position: relative;
}

#baqarzaidi::after {
  position: absolute;
  bottom: 27px;

  z-index: -1;

  content: '';
  display: block;
  background-color: chocolate;
  width: 300px;
  height: 270px;
  border-radius: 18px 180px 60px 18px;
}

#fatimazaidi::after {
  position: absolute;
  bottom: 27px;

  z-index: -1;

  content: '';
  display: block;
  background-color: cyan;
  width: 280px;
  height: 200px;
  border-radius: 60px 180px 60px 18px;
}

#maryambatool::after {
  position: absolute;
  bottom: 27px;

  z-index: -1;

  content: '';
  display: block;
  background-color: darksalmon;
  width: 300px;
  height: 270px;
  border-radius: 120px 36px 10px 24px;
}

@media (min-width: 786px) {
  .team .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
  }
}
